.color_sec {
    float: right;
    font-size: 22px;
    text-align: left;
    justify-content: center;
    font-weight: bold;
}

.p {

    font-size: 22px;
    text-align: left; 
    font-weight: bold;
}





